@import "mixins";

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  //@include md {
  //  padding: 0 60px;
  //}
  //@include lg {
  //  padding: 0 60px;
  //}
  @include md {
    padding: 0 60px;
  }
  @include lg {
    padding: 0 100px;
  }
  @include xl {
    padding: 0 140px;
  }
  @include xxl {
    padding: 0 180px;
  }
}

.functioning__wrapper {
  &.container {
    padding: 48px 20px 68px;
    @include md {
      padding: 50px 60px;
    }
    @include lg {
      padding: 50px 100px;
    }
    @include xl {
      padding: 50px 140px;
    }
    @include xxl {
      padding: 50px 180px;
    }
  }
}

body {
  background-color: #F6F6F6;
}

main {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin: 40px 0 65px 0;

  @media screen and (min-width: 768px) {
    gap: 30px;
    margin: 30px 0;
  }
}