@import "variables";

@mixin icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

@mixin img-wrapper {
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Small devices (Small tablets and large smartphones) : 576px
@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

// Medium devices (Small tablets) : 768px
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

// Large devices (Tablets and small desktops) : 992px
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

// Extra large devices (Large tablets and desktops) : 1200px
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

// Extra extra large devices (Large desktops) : 1400px
@mixin xxl {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}