@import "../utils/variables";
@import "../utils/mixins";

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-20%) rotate(-5deg);
  }
  30% {
    transform: translateX(15%) rotate(3deg);
  }
  45% {
    transform: translateX(-10%) rotate(-3deg);
  }
  60% {
    transform: translateX(5%) rotate(2deg);
  }
  75% {
    transform: translateX(0%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  .header__back {
    @include icon_wrapper;
    position: absolute;
    left: 17px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    //transition: transform .5s cubic-bezier(.46, -0.36, 0, 1.48);


    &.desactived {
      display: none;
    }

    &:hover svg {
      animation: wobble .5s linear forwards;
    }

    svg {
      width: 17px;
      height: 16px;
      flex-shrink: 0;
      color: $grey;
      transition: .2s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      svg {
        color: $text-color;
      }
    }
  }

  .header__name {
    flex-shrink: 0;
    padding: 0 19px 0 16px;
    color: $black-2;

  }
}

.header__location {

  &.desactived {
    display: none;
  }

  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: $grey-2;

  &-icon {
    @include icon_wrapper;
    width: 12px;
    height: 16px;
    flex-shrink: 0;

    svg {
      color: $grey;
    }
  }

  &-text {
    font-weight: 500;
    color: $grey;
  }
}