@import "../utils/variables";
@import "../utils/mixins";


.loader-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(147, 86, 220, 0.98);
  padding: 0;
  margin: 0;
  z-index: 9999;
  animation: loaderFadeOut 1s ease forwards 3.5s;

  .loader-spinner {
    transform: scale(1);
    animation: zoomOut 1s cubic-bezier(.42, -0.5, 1, .7) forwards 2.5s;

    @include sm {
      transform: scale(1.2);
    }
    @include lg {
      transform: scale(1.5);
    }
    @include xl {
      transform: scale(1.8);
    }
    @include xxl {
      transform: scale(2);
    }

    svg {
      overflow: visible;

      path {
        transform-origin: center;
        fill: none;
        stroke-dasharray: 0;
        stroke-dashoffset: 90px;
        stroke: rgba(255, 255, 255, 0);
        animation: strokeDash 4s ease forwards 1s;
        // animation-name: strokeDash;
        // animation-delay: 4s;
        // animation-timing-function: ease;
        // animation-direction: forwards;
        // animation-delay: 1s;
      }
    }
  }
}

@keyframes strokeDash {
  0% {
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 25px;

  }
  1% {
    stroke: rgba(255, 255, 255, 1);
  }
  80% {
    fill: rgba(255, 255, 255, 1);
    stroke-dasharray: 265px;

  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes zoomOut {
  to {
    transform: scale3d(0, 0, 0);
  }
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
